.about_wrap {
	width: 96%;
	display: block;
	margin: 20px 2%;

	.layout {
		@include container;

		.about_left {
			display: block;
			margin: 15px 2%;

			.about_head {
				@include font-size(6);
				font-family: $font-primary;
				color: #ddd;
				letter-spacing: 0.07em;
				width: 100%;
				text-align: center;
				margin: 20px 0;
			} // about head

			.about_desc p {
				@include font-size(1.5);
				font-family: $font-secondary;
				color: #666;
				line-height: 1.5em;
				@include single-transition(all, .70s, ease-in-out);

				@include at-breakpoint($medium) {
					@include font-size(1.8);
				}

				@include at-breakpoint($large) {
					@include font-size(2.2);
				}
			} // about desc

			@include at-breakpoint($medium) {
				width: 48%;
				float: right;
				margin: 20px 1%;

			} // about left medium break

			@include at-breakpoint($large) {
				margin: 50px 1%;

			} // about left large break
		} // about left

		.about_right {
			display: block;
			margin: 10px 2%;
			float: left;

			img {
				width: 100%;
				@include single-transition(all, .70s, ease-in-out);
			} // img

			@include at-breakpoint($medium) {
				width: 48%;
				@include single-transition(all, .70s, ease-in-out);

				margin: 10px 1%;

			} // about right medium break

			@include at-breakpoint($large) {
				@include single-transition(all, .70s, ease-in-out);

				margin: 10px 1%;

			} // about right large break
		} // about right
	} // layout 
} // about wrap