.contact_map {
	width: 94%;
	margin:  20px 3%;
	display: block;
	max-width: 640px;
	float: left;

	a {
	display: block;
	background-image: url("http://maps.google.com/maps/api/staticmap?size=640x640&zoom=14&maptype=roadmap&markers=The+Brooklyn+Navy+Yard+,+63+Flushing+Ave.+,+Brooklyn+N.Y.+11205&sensor=false");
	background-position: 50% 50%;
	opacity: 0.7;
	
	img {
		width: 100%;
		opacity: 0;
		} // img
	} // a

	@include at-breakpoint($medium) {
		width: 60%;
		margin: 20px 20%;
		opacity: 0.6;
		@include single-transition(all, 1s, ease-in-out);

		&:hover {
			opacity: 1;
		}
	} // contact map break medium

	@include at-breakpoint($large) {
		width: 50%;
		margin: 20px 25%;
	} // contact map break large
} // contact_map

.contact_title_wrap {
	width: 94%;
	display: block;
	margin: 15px 3%;

	.contact_desc {
		float: left;
		margin-top: 0 auto;
	} // contact desc

	.contact_desc p {
		color: #777;
		font-weight: 400;
		font-family: $font-secondary;
		width: 100%;
		@include font-size(1.4);
		line-height: 1.5;
	}

		@include at-breakpoint($medium) {
		width: 60%;
		margin: 20px 20%;

		.contact_desc p {
			@include font-size(1.7);
			color: #999;
		} // contact desc break medium
	} // contact title wrap break medium

	@include at-breakpoint($large) {
		width: 50%;
		margin: 20px 25%;
		
		.contact_desc p {
			@include font-size(2);
			color: #bbb;
		} // contact desc break large
	} // contact title wrap break large
} // contact title wrap

.contact_purchase {
	width: 90%;
	margin: 10px 5% 0;
	display: block;
	float: left;

	a {
		border: 1px solid #999;
		display: block;
		color: #666;
		text-decoration: none;
		font-family: $font-secondary;
		float: right;
		@include single-transition(all, 1s, ease-in-out);

		@include at-breakpoint($medium) {
			float: right;

			&:hover {
				color: white;
				background: black;
			} // hover
		} // medium break
	} // contact link
} // contact wrap




