.contact_map {
	width: 94%;
	margin:  20px 3%;
	display: block;
	max-width: 640px;
	float: left;

	a {
	display: block;
	background-image: url("http://maps.google.com/maps/api/staticmap?size=640x640&zoom=14&maptype=roadmap&markers=The+Brooklyn+Navy+Yard+,+63+Flushing+Ave.+,+Brooklyn+N.Y.+11205&sensor=false");
	background-position: 50% 50%;
	
	img {
		width: 100%;
		opacity: 0;
		} // img
	} // a

	@include at-breakpoint($medium) {
		width: 60%;
		margin: 20px 20%
	} // contact map break medium

	@include at-breakpoint($large) {
		width: 50%;
		margin: 20px 25%;
	} // contact map break large
} // contact_map

.contact_title_wrap {
	width: 94%;
	display: block;
	margin: 15px 3%;

	.contact_desc {
		color: #777;
		font-weight: 400;
		font-family: $font-secondary;
		width: 100%;
		margin-bottom: 10px;
		@include font-size(1.3);
		line-height: 140%;
		letter-spacing: .05em;
		float: left;
		margin-top: 0 auto;
	} // contact desc

		@include at-breakpoint($medium) {
		width: 60%;
		margin: 20px 20%;

		.contact_desc {
			@include font-size(1.5);
		} // contact desc break medium
	} // contact title wrap break medium

	@include at-breakpoint($large) {
		width: 50%;
		margin: 20px 25%;
		
		.contact_desc {
			@include font-size(1.7);
		} // contact desc break large
	} // contact title wrap break large
} // contact title wrap





