/* FOOTER -----------------------------------------------------------*/

.footer_wrap {
	width: 100%;
	display: block;
	float: left;

	p {
		text-align: center;
		display: block;
		color: #aaa;
		margin: 0 auto 30px;
		width: 80%;
		font-size: 12px;
		border-top: 1px solid #666;
		padding-top: 2em;
		line-height: 130%;
	}
}