/* HOME PAGE -----------------------------------------------------------*/

.homepage_left {
	width: 94%;
	float: left;
	margin: 1.2rem 3% 0.5rem;

	p {
		font-size: 0.75rem;
		text-align: right;
		color: #888;
		float: right;
		width: 220px;
		letter-spacing: 0.1rem;
		font-weight: 700;
		line-height: 140%;
	}
}

.homepage_right {
	width: 94%;
	float: left;
	margin: 0 3%;

	a {
		margin: 0;
		float: left;
		width: 100%;
		color: #333;
		text-decoration: none;
		font-size: 0.8rem;
		opacity: .8;
		@include single-transition(opacity, .70s, ease-in-out);

		&:hover {
			opacity: 1;
		}
	}

	img {
		max-width: 100%;
	}
}

.home_image_hr {
	background-color: #878787;
	float: left;
	height: 1px;
	display: block;
	width: 250px;
	margin: 5px 0 10px;
	opacity: 1 !important;
}