/* NAVIGATION -----------------------------------------------------------*/
.nav_wrap {
	width: 100%;
	margin: 0;
	display: block;
	@include clearfix;

	.nav_bottom {
		width: 70%;
		height: 1px;
		background: #666;
		margin: 0 auto;
	}

	ul.nav {
		list-style: none;
		margin: 10px auto;
		padding: 0;
		display: block;

		li {
			float: left;
			width: 50%;	

			a {
				@include font-size(1.6);
				font-family: $font-secondary;
				color: #bbb;
				text-decoration: none;
				margin: 0;
				line-height: 1em;
				display: block;
				padding: 5px 10px;
				letter-spacing: .2em;
				text-transform: capitalize;
				@include single-transition(all, .70s, ease-in-out);
			}  // a
		}  // li

		.nav_focused {
			text-decoration: underline;
			color: #555;
		}  // changes navigation link when on that page

		li.mobile_left a {
			text-align: right !important;
			border-right: 1px solid #999;
			} // mobile_left
	
			li.mobile_right a {
			text-align: left !important;
			margin-left: 3px;

		} // mobile_right
	} // ul.nav

	@include at-breakpoint($small) {

			ul.nav {
				left: auto;
				display: table;

				li {
					float: left;
					width: auto;
					@include single-transition(all, .70s, ease-in-out);
					
					.custom_crane a {
							text-decoration: underline !important;
						}

					.blank a {
							text-decoration: none !important;
						}

					a {
						font-family: $font-secondary;
						@include font-size(1.2);
						text-transform: uppercase;
						letter-spacing: .1em;
						color: #999;
						display: block;
						
						&:hover {
							color: #333;
							text-decoration: underline;
						} // hover small
					} // a small
				} // li small

				li.mobile_left a {
					text-align: none;
					border-right: none;
				} // mobile_left

				li.mobile_right a {
					text-align: none;
					margin-left: 0;
				} // mobile_right
			} // ul small
	} // break small
} // nav_wrap