/* PRESS styles ----------------------------------------------------*/

.press_loop_container {
	width: 96%;
	margin: 20px 2%;
	display: block;
	overflow: hidden;
	@include clearfix;
}

.press_box {
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	padding: 10px;

	@include at-breakpoint($medium) {
		width: 50%;
		display: inline-block;
		float: left;
	} // .press_box medium break

	@include at-breakpoint($large) {
		width: 33.3%;
	} // .press_box large break

	a {
		@include font-size(1.3);
		font-family: $font-primary;
		font-weight: 400;
		color: #666;
		line-height: 1.2;
		background: rgba(255,255,255,0.5);
		padding: 5px;
		opacity: 0.8;

		@include at-breakpoint($medium) {
			opacity: 0.5;
			@include single-transition(all, 1s, ease-in-out);

			&:hover {
				opacity: 0.8;
			}
		} // medium break

	} // press box anchor

	img {
		width: 100%;
	}

	.press_link_label_wrap {
		position: absolute;
		top: 15%;
		right: 0;
		 
		.press_link_label {
			@include font-size(0.9);
			font-family: $font-secondary;
			font-weight: 400;
			color: #222;
			background: white;
			padding: 5px 10px 3px;
			letter-spacing: 0.05em;
			opacity: 1;
		} // press link label
	} // press link label wrap

	.press_link_wrap {
		position: absolute;
		bottom: 0;
		padding: 10px 6% 3%;
		margin: 0;
		left: 10px;
		width: 100%;
		background: rgba(255,255,255,0.8);

		h3 {
			@include font-size(3);
			font-family: $font-secondary;
			font-weight: 400;
			color: #555;
			line-height: 1.2;
		} // press title

		.press_link_about {
			@include font-size(1.3);
			line-height: 1;
			font-family: $font-primary;
			color: #555;
			padding: 10px 10% 5%;
		} // press description
	} // press link wrap
} // .press_box