/* PRESS styles ----------------------------------------------------*/

.press_loop_container {
	width: 96%;
	margin: 20px 2%;
	display: block;
	overflow: hidden;
	@include clearfix;
}

.press_box {
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	padding: 10px;

	a {
		@include font-size(1.3);
		font-family: $font-primary;
		font-weight: 400;
		color: #666;
		line-height: 120%;
		background: rgba(255,255,255,0.5);
		padding: 5px;
	}

	.press_image {
		opacity: 0.5;
		@include single-transition(all, 1s, ease-in-out);
	}

	img {
		width: 100%;
	}

	.press_link_wrap {
		position: absolute;
		top: 20%;
		left: 10px;
		width: 100%;
		background: rgba(255,255,255,0.8);
		@include single-transition(all, 1s, ease-in-out);

		h3 {
			@include font-size(3);
			font-family: $font-primary;
			font-weight: 400;
			color: #555;
			line-height: 1;
			padding: 5px 10px 3px;
		}

		.press_link_date {
			@include font-size(0.7);
			font-family: $font-secondary;
			color: #999;
			text-transform: uppercase;
			padding: 0px 0px 3px 15px;
		}

		.press_link_about {
			@include font-size(1.3);
			line-height: 1.2;
			font-family: $font-secondary;
			color: #555;
			padding: 5px 25px 15px;
		}
	}

	.press_link_label_wrap {
		position: absolute;
		bottom: 30px;
		right: 0;
		 
		.press_link_label {
			@include font-size(0.9);
			font-family: $font-secondary;
			font-weight: 400;
			color: #222;
			background: white;
			padding: 5px 10px 3px;
			letter-spacing: 0.05em;
			opacity: 0.6;
			@include single-transition(all, 1s, ease-in-out);
		}
	}

	@include at-breakpoint($medium) {
		width: 50%;
		display: inline-block;
		float: left;
	} // .press_box medium break

	@include at-breakpoint($large) {
		width: 33.3%;
	} // .press_box large break
} // .press_box