.instaFollow {
	width: 100%;
	overflow: hidden;

	a {
	text-decoration: none;
	@include font-size(1.3);
	color: #333;
	width: 183px;
	margin: 10px auto 0;
	height: 60px;
	background: url(gfx/instafollow.jpg) no-repeat 0px 10px;
	opacity: .35;
	display: block;
	text-align: center;
	@include single-transition(all, .70s, ease-in-out);

		&:hover {
		opacity: .9;
		} // hover
	} // a
} // instaFollow

.layout {
	@include container;

	#gallery {
		width: 98%;
		margin: 20px auto;
		display: block;
		overflow: hidden;

		.instaBox {
			float: left;
			display: inline-block;
			width: 100%;

			a {
				background: #ddd;
				padding: 5px;
				margin: 10px 0;
				overflow: hidden;
				background: #fff;
				display: block;
				@include single-transition(all, .70s, ease-in-out);
			
				&:hover {
					background: #bbb;

					a {
						margin: 10px;
					} // a
				} // hover

				img {
					width: 100%;
				} // img
			} // a

			@include at-breakpoint($medium) {
				@include single-transition(all, .70s, ease-in-out);
				width: 50%;

				a {
					margin: 10px;
				} // a
			} // insta break medium

			@include at-breakpoint($large) {
				@include single-transition(all, .70s, ease-in-out);
				width: 33.3%;

				a {
					margin: 10px;
				} // a
			} // insta break large
		} // instaBox
	} // gallery
} // layout